[submodule "externals/yaml-cpp"]
	path = externals/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "externals/jaut"]
	path = externals/jaut
	url = https://github.com/ElandaSunshine/jaut.git
[submodule "externals/modules/ff_meters"]
	path = externals/modules/ff_meters
	url = https://github.com/ffAudio/ff_meters.git
[submodule "externals/modules/externals/modules/ff_meters"]
	path = externals/modules/externals/modules/ff_meters
	url = https://github.com/ffAudio/ff_meters.git
